.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.imageWrapper {
  width: 100%;
  & > img {
    width: 100%;
  }
}

.title {
  padding: 32px 16px;
  border-bottom: solid 1px rgba($color: #000000, $alpha: 0.25);
  color: var(--color-black);
  font-size: 32px;
  font-family: sans-serif;
}

.rowInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-bottom: solid 1px rgba($color: #000000, $alpha: 0.25);

  &Title {
    color: rgba($color: #000000, $alpha: 0.5);
    font-size: 14px;
    font-family: sans-serif;
  }
  &Text {
    color: var(--color-black);
    font-size: 24px;
  }
}

.rowText {
  & > div {
    font-size: 18px;
    line-height: 140%;
  }
}
