.pagination {
  display: flex;
  gap: 1.4px;
}

.select {
  flex-grow: 1;
  border-top: solid 1.5px var(--color-black);

  &::after {
    top: 14px;
  }
}

@media (max-width: 590px) {
  .pagination {
    flex-wrap: wrap;
    & * {
      order: 2;
      flex-grow: 1;
    }
  }

  .select {
    order: 1;
    width: 100vw;
    height: 60px;
  }
}
