.input-wrapper {
  display: flex;
  flex-direction: column;

  & input {
    font-family: sans-serif;
    font-size: 16px;
    padding: 16px;
    border-radius: 4px;
    border: solid 1.5px rgba(38, 43, 48, 0.3);
    color: var(--color-black);
    background: none;

    &:focus {
      border: solid 1.5px var(--color-black);
    }
  }

  & .error {
    height: 16px;
    padding: 4px;

    & p {
      font-family: sans-serif;
      font-size: 12px;
      color: var(--color-negative);
    }
  }

  &_error {
    & input {
      color: var(--color-negative);
      border: solid 1.5px var(--color-negative);
    }
  }
}

.header {
  padding: 0 16px 6px;
  display: flex;
  align-items: center;
  gap: 8px;

  & label {
    flex-grow: 0;
    font-family: serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-black);
    opacity: 0.8;
  }

  & * {
    flex-grow: 1;
  }
}

.required::after {
  content: ' *';
  color: var(--color-negative);
}
