:root {
  --color-black: #333333;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
