.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  & .error {
    height: 16px;
    padding: 4px;

    & p {
      font-family: sans-serif;
      font-size: 12px;
      color: var(--color-negative);
    }
  }
}

.required::after {
  content: ' *';
  margin-left: -4px;
  font-family: serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-negative);
}

.checkmark {
  position: relative;
  height: 24px;
  width: 24px;
  border: solid 1.5px rgba(38, 43, 48, 0.3);
  border-radius: 4px;

  &:after {
    content: '✓';
    width: 100%;
    color: white;
    font-size: 18px;
    text-align: center;
    position: absolute;
    display: none;
  }
}
.container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  color: var(--color-black);

  & input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &:hover input ~ .checkmark {
    border: solid 1.5px var(--color-black);
  }

  & input:checked ~ .checkmark {
    background-color: var(--color-black);
    &:after {
      display: block;
    }
  }
}
