:root {
  --color-black: #262b30;
  --color-sf-dark: #e7e6e1;
  --color-sf-light: #f5f4f0;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
